html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding-top: 60px;
    letter-spacing: -0.05em;
    overflow-x: hidden;
}

p {
    margin: 0;
}